@import "src/scss/base.scss";

.wrap-info{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
    background: url(/src/assets/images/background-info.png);
    background-size: cover;
    background-position: center bottom;

    .info-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        .title-info{
            font-family: Intro;
            font-size: 40px;
            color: #ffffff;
            margin-bottom: 35px;
        }
        .info-wrap{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .info-column{
                margin: 0 50px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 30px;
                .info-icon{
                    width: 100px;
                }
                .date-text{
                    color: #ffffff;
                    font-size: 35px;
                    letter-spacing: 2px;
                }
                .time-text{
                    color: #ffffff;
                    font-size: 30px;
                }
                .dateTime{
                    display: flex;
                    flex-direction: column;
                    .wrap-date{
                        display: flex;
                        align-items: center;
                    }
                    .wrap-time{
                        display: flex;
                        align-items: center;
                    }
                }
                .info-descript{
                    .location-city{
                        font-size: 30px;
                        color: #ffffff;
                        margin-bottom: 15px;
                    }
                    .location-logo{
                        margin-bottom: 15px;
                        width: 100%;
                    }
                    .location-street{
                        font-size: 15px;
                        color: #ffffff;

                    }
                    .loc{
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1024px){

}
@media only screen and (max-width: 1024px) {
    .info-wrap{
        display: flex;
        flex-direction: column;
        flex-direction: row;
        align-items: center;
        .info-column{
            margin-bottom: 50px;
        }
    }
}
@media only screen and (max-width: 900px) {


}
@media only screen and (max-width: 450px) {
    
}