//general styles
*{
  font-family: 'Josefin Sans', sans-serif;
  user-select: none;
  cursor: pointer;
}
//position content on window
.content-position{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
@import "variables";
@import "mixins";