@import "src/scss/base.scss";

.content-block{
    padding-top: 30px;
    padding-bottom: 70px;
    width: 100%;
    height: 100%;
    background: url(/src/assets/images/background-content.png);
    background-size: cover;
    background-position: center bottom;
    
    -webkit-box-shadow: inset 0px 28px 37px -13px rgba(0,0,0,0.49);
    -moz-box-shadow: inset 0px 28px 37px -13px rgba(0,0,0,0.49);
    box-shadow: inset 0px 28px 37px -13px rgba(0,0,0,0.49);

    .content-wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .title-content{
            width: 100%;
            min-width: 250px;
            height: 100%;
        }
        .separate-wrap{
            display: flex;
            align-items: center;
            .wrap-line{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .sup-line{
                    border: 5px solid #dee2e5;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    width: 500px;
                    box-shadow: 1px 1px 7px black ;
                }
                .sub-line{
                    border: 2px solid #dee2e5;
                    width: 500px;
                    box-shadow: 1px 1px 7px black ;
                }
            }
        }
        .content-text-wrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            .content-text{
                font-family: gilroySB;
                color: #dee2e5;
                font-size: 27px;
                text-indent: 50px;
                text-shadow: 0px 0px 10px black;
            }
            .content-ps1{
                margin-top: 20px;
                font-size: 35px;
                font-family: gilroyEB;
                color: #dee2e5;
                text-shadow: 0px 0px 10px black;
            }
            .content-ps2{
                font-size: 35px;
                font-family: gilroyEB;
                color: #dee2e5;
                text-shadow: 0px 0px 10px black;
            }
        }
        .wrap-block{
            .block-marg-top{
                margin-top: 150px;
            }
            .block-title{
                color: #fff;
                font-size: 35px;
                margin-bottom: 20px;
                letter-spacing: 1px;
            }
            .block-descript{
                @include content-text-style;
            }
            .btn{
                @include btn-style;
            }
            .btn:hover{
                @include btn-style-hover;
            }
            //right block
            .wrap-block-left{
                @include wrap-block;
                padding-right: 140px;

                .block-img{
                    width: 250px;
                    position: absolute;
                    right: -100px;
                    top: -100px;
                }

            }
            //left block
            .wrap-block-right{
                @include wrap-block;
                padding-left: 140px;


                .block-img{
                    width: 350px;
                    position: absolute;
                    left: -100px;
                    top: -80px;
                }
            }
        }

    }
}