@import "src/scss/base.scss";

.content-block{
    padding: 30px;
    width: 100%;
    height: 100%;
    background: url(/src/assets/images/background-content.png);
    background-size: cover;
    background-position: center bottom;
    
    -webkit-box-shadow: inset 0px 28px 37px -13px rgba(0,0,0,0.49);
    -moz-box-shadow: inset 0px 28px 37px -13px rgba(0,0,0,0.49);
    box-shadow: inset 0px 28px 37px -13px rgba(0,0,0,0.49);

    .content-wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .title-content{
            width: 100%;
            min-width: 250px;
            height: 100%;
        }
        .separate-wrap{
            .wrap-line{
                .sup-line{

                }
                .sub-line{

                }
            }
            .separate-icon{
                
            }
        }
        .content-text-wrap{
            display: flex;
            flex-direction: column;
            align-items: left;
            padding: 20px;
            .content-text{
                font-family: gilroySB;
                color: #dee2e5;
                font-size: 27px;
                text-indent: 50px;
            }
            .content-ps1{
                margin-top: 20px;
                padding-left: 200px;
                font-size: 35px;
                font-family: gilroyEB;
                color: #dee2e5;
            }
            .content-ps2{
                font-size: 35px;
                font-family: gilroyEB;
                color: #dee2e5;
                padding-left: 600px;
            }
        }

    }
}