@font-face {
    font-family: intro; /* Имя шрифта */
    src: url(/src/assets/fonts/Intro/Intro.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: gilroyEB; /* Имя шрифта */
    src: url(/src/assets/fonts/Gilroy/Gilroy-ExtraBold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: gilroySB; /* Имя шрифта */
    src: url(/src/assets/fonts/Gilroy/Gilroy-SemiBold.ttf); /* Путь к файлу со шрифтом */
}