@import "src/scss/base.scss";
/* @mixin icon-style */

.wrap-foot{
    background-color: $main-color;
    .foot-content{
        padding: 50px;
        .reserved{
            color: #fff;
            font-family: gilroySB;
            text-align: center;
        }
        .wrap-contact{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 35px;
            .col-social{
                display: flex;
                flex-direction: column;
                align-items: center;
                .social-title{
                    color: #fff;
                    font-family: gilroyEB;
                    font-size: 20px;
                    letter-spacing: 2px;
                    margin-bottom: 15px;
                }
                .wrap-icon-link{
                    .icon{
                        @include icon-style;
                        width: 40px;
                        margin: 0 50px;
                    }
                    .icon:hover{
                        @include icon-style-hover;
                    }
                }
            }
            .col-contact{
                .wrap-phone-contact{
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;
                    .icon{
                        @include icon-style;
                        width: 30px;
                        margin-right: 20px;
                    }
                    .icon:hover{
                        @include icon-style-hover;
                    }
                    .wrap-ph_num{
                        .phone-number{
                            font-family: gilroyEB;
                            font-size: 20px;
                            color: #fff;
                            letter-spacing: 1px;
                        }
                    }
                }
                .wrap-email-contact{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .icon{
                        @include icon-style;
                        width: 30px;
                        margin-right: 20px;
                    }
                    .icon:hover{
                        @include icon-style-hover;
                    }
                    .email{
                        font-family: gilroyEB;
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 20px;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}