//content block in main
@import "variables.scss";
@import "font.scss";

@mixin wrap-block{
    border-radius: 25px;
    box-shadow: 1px 1px 5px black;
    padding: 20px;

    margin-bottom: 40px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

//style content text in main
@mixin content-text-style{
    width: 80%;
    text-indent: 25px;
    line-height: 25px;
    color: #fff;
    font-family: $font-montsserat;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: none;
    margin-bottom: 20px;
    text-align: left;
}

//style all button
@mixin btn-style{
    border-radius: 20px;
    border: none;
    background-color: #fff;

    width: 260px;

    padding: 10px 20px;
    margin-top: 15px;

    color: #38395f;
    font-family: $font-montsserat;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    text-align: center;

    transition: .4s;
    transition-delay: .1s;

    -webkit-box-shadow: 0px 0px 24px -13px rgba(20,20,20,1);
    -moz-box-shadow: 0px 0px 24px -13px rgba(20,20,20,1);
    box-shadow: 0px 0px 24px -13px rgba(20,20,20,1);

}
@mixin btn-style-hover{
    padding: 10px 40px;
    border-radius: 60px;

    background-color: #35355b;
    color: #fff;
}

//style all icon
@mixin icon-style{
    width: 17px;
}
@mixin icon-style-hover{

}