@font-face {
  font-family: intro;
  src: url(../assets/fonts/Intro/Intro.otf);
}

@font-face {
  font-family: gilroyEB;
  src: url(../assets/fonts/Gilroy/Gilroy-ExtraBold.ttf);
}

@font-face {
  font-family: gilroySB;
  src: url(../assets/fonts/Gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: intro;
  src: url(../assets/fonts/Intro/Intro.otf);
}

@font-face {
  font-family: gilroyEB;
  src: url(../assets/fonts/Gilroy/Gilroy-ExtraBold.ttf);
}

@font-face {
  font-family: gilroySB;
  src: url(../assets/fonts/Gilroy/Gilroy-SemiBold.ttf);
}

/* @media only screen and (max-width: 1024px) {
        .info-wrap{
            display: flex;
            flex-direction: column;
            flex-direction: row;
            align-items: center;
            .info-column{
                margin-bottom: 50px;
            }
        }
    } */
@media only screen and (max-width: 900px) {
  body header .header-sup .header__wrap-section {
    display: block;
  }
  body header .header-sup .header__wrap-section .header__wrap-section__logo {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  body header .header-sup .header__wrap-section .header__wrap-section__navbar {
    display: block;
    text-align: center;
    margin: 0;
    margin-top: 15px;
  }
  body header .header-sup .header__wrap-section .header__wrap-section__navbar li {
    margin: 0;
    margin-bottom: 10px;
  }
  body .content-block .content-wrap .wrap .wrap-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  body .content-block .content-wrap .wrap .wrap-block .wrap-content {
    text-align: center;
  }
  body .content-block .content-wrap .wrap .wrap-block .wrap-content-img {
    height: 200px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .content-block .content-wrap .wrap .wrap-block:nth-child(2n) {
    background-position: center top;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 800px) {
  body .wrap-foot .foot-content .wrap-contact {
    display: block;
    margin-bottom: 30px;
  }
  body .wrap-foot .foot-content .wrap-contact .col-social {
    margin-bottom: 30px;
  }
  body .wrap-foot .foot-content .wrap-contact .col-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .wrap-foot .foot-content .wrap-contact .col-contact .wrap-phone-contact .wrap-ph_num .phone-number {
    font-size: 30px;
  }
  body .wrap-foot .foot-content .wrap-contact .col-contact .wrap-email-contact {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  body .wrap-info .info-content .title-info {
    font-size: 30px;
  }
  body .wrap-info .info-content .info-wrap {
    display: block;
  }
  body .wrap-info .info-content .info-wrap .info-column {
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 3px solid #ffffff;
  }
  body .wrap-info .info-content .info-wrap .info-column .info-icon {
    width: 60px;
  }
  body .wrap-info .info-content .info-wrap .info-column .dateTime .wrap-date .date-text {
    font-size: 25px;
    letter-spacing: 0;
  }
  body .content-block .content-wrap .title-content {
    width: 90%;
  }
}

@media only screen and (max-width: 700px) and (max-width: 450px) {
  body .content-block .content-wrap .separate-wrap .wrap-line {
    display: none;
  }
  body .content-block .content-wrap .content-text-wrap {
    text-align: center;
  }
  body .content-block .content-wrap .content-text-wrap .content-text {
    text-align: center;
  }
  body .wrap-foot .foot-content .wrap-contact .col-social .social-title {
    text-align: center;
  }
  body .wrap-foot .foot-content .wrap-contact .col-contact .wrap-phone-contact .wrap-ph_num .phone-number {
    font-size: 20px;
  }
}

@media only screen and (max-width: 700px) and (max-width: 370px) {
  body .wrap-foot .foot-content .wrap-contact .col-contact .wrap-phone-contact .wrap-ph_num .phone-number {
    font-size: 20px;
  }
}

@media only screen and (max-width: 700px) and (max-width: 320px) {
  body .wrap-info .info-content .title-info {
    font-size: 20px;
  }
  body .wrap-info .info-content .info-wrap {
    display: block;
  }
  body .wrap-info .info-content .info-wrap .info-column .info-icon {
    width: 50px;
  }
  body .wrap-info .info-content .info-wrap .info-column .dateTime .wrap-date .date-text {
    font-size: 20px;
  }
  body .wrap-foot .foot-content .wrap-contact .col-contact .wrap-phone-contact .wrap-ph_num .phone-number {
    font-size: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Alegreya SC", serif;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:active {
  outline: none;
}

/* path{ fill:inherit; stroke:inherit; } */
.content-position {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #d7190f;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d7190f;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 4px;
}

body header .header-sup {
  background-color: #001825;
  width: 100%;
  -webkit-box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.72);
  box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.72);
}

body header .header-sup .header__wrap-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

body header .header-sup .header__wrap-section .header__wrap-section__logo {
  text-align: center;
  margin-left: 15px;
}

body header .header-sup .header__wrap-section .header__wrap-section__logo .first-logo {
  width: 100%;
}

body header .header-sup .header__wrap-section .header__wrap-section__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-right: 15px;
}

body header .header-sup .header__wrap-section .header__wrap-section__navbar li {
  margin-right: 25px;
  cursor: pointer;
}

body header .header-sup .header__wrap-section .header__wrap-section__navbar li .nav-item {
  text-decoration: none;
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  text-transform: uppercase;
  font-family: Intro;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  transition: .2s linear;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
}

body header .header-sup .header__wrap-section .header__wrap-section__navbar li .nav-item:hover {
  border-bottom: 3px solid #ffffff;
}

body header .header-sup .header__wrap-section .header__wrap-section__navbar li:last-child {
  margin-right: 0;
}

body header .header-sub-bg {
  width: 100%;
  background-image: url(../assets/images/background-title.jpg);
  background-size: auto;
  background-position: center;
  /* height: 850px; */
}

body header .header-sub-bg .header-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header-sub-bg .header-sub .second-logo {
  width: 65%;
}

body header .header-sub-bg .header-sub .text-title {
  width: 70%;
}

body .wrap-info {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  /* height: 100%; */
  background: url(../assets/images/background-info.png);
  background-size: auto 100% 100%;
  background-position: center;
}

body .wrap-info .info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrap-info .info-content .title-info {
  font-family: Intro;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 35px;
}

body .wrap-info .info-content .info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}

body .wrap-info .info-content .info-wrap .info-column {
  margin: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@-webkit-keyframes location-icon-opacity {
  0% {
    opacity: 1;
  }
  /* 25% {
                            opacity: .5;
                        } */
  50% {
    opacity: .25;
  }
  /* 75% {
                            opacity: .5;
                        } */
  100% {
    opacity: 1;
  }
}

@keyframes location-icon-opacity {
  0% {
    opacity: 1;
  }
  /* 25% {
                            opacity: .5;
                        } */
  50% {
    opacity: .25;
  }
  /* 75% {
                            opacity: .5;
                        } */
  100% {
    opacity: 1;
  }
}

body .wrap-info .info-content .info-wrap .info-column .location-link {
  animation: location-icon-opacity 1s ease-in-out infinite;
  -webkit-animation: location-icon-opacity 1s ease-in-out infinite;
}

body .wrap-info .info-content .info-wrap .info-column .info-icon {
  width: 100px;
}

body .wrap-info .info-content .info-wrap .info-column .date-text {
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 2px;
  font-family: Intro;
}

body .wrap-info .info-content .info-wrap .info-column .time-text {
  color: #ffffff;
  font-size: 30px;
  font-family: Intro;
}

body .wrap-info .info-content .info-wrap .info-column .dateTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wrap-info .info-content .info-wrap .info-column .dateTime .wrap-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrap-info .info-content .info-wrap .info-column .dateTime .wrap-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrap-info .info-content .info-wrap .info-column .info-descript .location-city {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 15px;
  font-family: Intro;
}

body .wrap-info .info-content .info-wrap .info-column .info-descript .location-logo {
  margin-bottom: 15px;
  width: 100%;
}

body .wrap-info .info-content .info-wrap .info-column .info-descript .location-street {
  font-size: 15px;
  color: #ffffff;
  font-family: Intro;
}

body .wrap-info .info-content .info-wrap .info-column .info-descript .loc {
  text-align: center;
}

body .content-block {
  padding-top: 30px;
  padding-bottom: 70px;
  width: 100%;
  height: 100%;
  background: url(../assets/images/background-content.jpg);
  background-size: cover;
  background-position: center bottom;
  -webkit-box-shadow: inset 0px 28px 37px -13px rgba(0, 0, 0, 0.49);
  box-shadow: inset 0px 28px 37px -13px rgba(0, 0, 0, 0.49);
}

body .content-block .content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content-block .content-wrap .title-content {
  width: 90%;
}

body .content-block .content-wrap .separate-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content-block .content-wrap .separate-wrap .separate-icon {
  margin: 0 auto;
}

body .content-block .content-wrap .separate-wrap .wrap-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content-block .content-wrap .separate-wrap .wrap-line .sup-line {
  border: 5px solid #dee2e5;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 90%;
  -webkit-box-shadow: 1px 1px 7px black;
          box-shadow: 1px 1px 7px black;
}

body .content-block .content-wrap .separate-wrap .wrap-line .sub-line {
  border: 2px solid #dee2e5;
  width: 90%;
  -webkit-box-shadow: 1px 1px 7px black;
          box-shadow: 1px 1px 7px black;
}

body .content-block .content-wrap .content-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  font-weight: 600;
}

body .content-block .content-wrap .content-text-wrap .content-text {
  font-family: "Alegreya SC", serif;
  color: #dee2e5;
  font-size: 27px;
  text-indent: 50px;
  text-shadow: 0px 0px 10px black;
}

body .content-block .content-wrap .content-text-wrap .content-ps1 {
  margin-top: 20px;
  font-size: 35px;
  font-family: "Alegreya SC", serif;
  color: #dee2e5;
  text-shadow: 0px 0px 10px black;
}

body .content-block .content-wrap .content-text-wrap .content-ps2 {
  font-size: 35px;
  font-family: "Alegreya SC", serif;
  color: #dee2e5;
  text-shadow: 0px 0px 10px black;
}

body .content-block .content-wrap .wrap {
  padding: 20px;
}

body .content-block .content-wrap .wrap .wrap-block {
  padding: 20px;
  background: url(../assets/images/background-block.png);
  background-size: auto;
  background-position: center bottom;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
  padding: 20px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content-block .content-wrap .wrap .wrap-block .block-title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

body .content-block .content-wrap .wrap .wrap-block .wrap-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* width: 100%; */
}

body .content-block .content-wrap .wrap .wrap-block .wrap-content .block-descript {
  width: 80%;
  text-indent: 25px;
  line-height: 25px;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;
  text-transform: none;
  margin-bottom: 20px;
  text-align: left;
}

body .content-block .content-wrap .wrap .wrap-block .wrap-content .btn {
  border-radius: 20px;
  border: none;
  background-color: #fff;
  width: 260px;
  padding: 10px 20px;
  margin-top: 15px;
  color: #38395f;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
  -webkit-box-shadow: 0px 0px 24px -13px #141414;
  box-shadow: 0px 0px 24px -13px #141414;
}

body .content-block .content-wrap .wrap .wrap-block .wrap-content .btn:hover {
  padding: 10px 40px;
  border-radius: 60px;
  background-color: #35355b;
  color: #fff;
}

body .content-block .content-wrap .wrap .wrap-block .wrap-content-img {
  margin-left: 30px;
  margin-right: 30px;
  /* width: 300px; */
  height: 300px;
}

body .content-block .content-wrap .wrap .wrap-block:nth-child(2n) {
  background-position: center top;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body .wrap-foot {
  background-color: #001825;
}

body .wrap-foot .foot-content {
  padding: 50px;
  padding-bottom: 15px;
}

body .wrap-foot .foot-content .reserved {
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  text-align: center;
}

body .wrap-foot .foot-content .wrap-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}

body .wrap-foot .foot-content .wrap-contact .col-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrap-foot .foot-content .wrap-contact .col-social .social-title {
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-align: center;
}

body .wrap-foot .foot-content .wrap-contact .col-social .wrap-icon-link .icon {
  width: 17px;
  width: 50px;
  margin: 0 15px;
}

body .wrap-foot .foot-content .wrap-contact .col-contact {
  /* width: 100%; */
}

body .wrap-foot .foot-content .wrap-contact .col-contact .wrap-phone-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

body .wrap-foot .foot-content .wrap-contact .col-contact .wrap-phone-contact .icon {
  width: 17px;
  width: 30px;
  margin-right: 20px;
}

body .wrap-foot .foot-content .wrap-contact .col-contact .wrap-phone-contact .wrap-ph_num .phone-number {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

body .wrap-foot .foot-content .wrap-contact .col-contact .wrap-email-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrap-foot .foot-content .wrap-contact .col-contact .wrap-email-contact .icon {
  width: 17px;
  width: 30px;
  margin-right: 20px;
}

body .wrap-foot .foot-content .wrap-contact .col-contact .wrap-email-contact .email {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}

/* @media only screen and (max-width: 1024px) {
        .info-wrap{
            display: flex;
            flex-direction: column;
            flex-direction: row;
            align-items: center;
            .info-column{
                margin-bottom: 50px;
            }
        }
    } */
@media only screen and (max-width: 900px) {
  body header .header-sup .header__wrap-section {
    display: block;
  }
  body header .header-sup .header__wrap-section .header__wrap-section__logo {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  body header .header-sup .header__wrap-section .header__wrap-section__navbar {
    display: block;
    text-align: center;
    margin: 0;
    margin-top: 15px;
  }
  body header .header-sup .header__wrap-section .header__wrap-section__navbar li {
    margin: 0;
    margin-bottom: 10px;
  }
  body .content-block .content-wrap .wrap .wrap-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  body .content-block .content-wrap .wrap .wrap-block .wrap-content {
    text-align: center;
  }
  body .content-block .content-wrap .wrap .wrap-block .wrap-content-img {
    height: 200px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .content-block .content-wrap .wrap .wrap-block:nth-child(2n) {
    background-position: center top;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 800px) {
  body .wrap-foot .foot-content .wrap-contact {
    display: block;
    margin-bottom: 30px;
  }
  body .wrap-foot .foot-content .wrap-contact .col-social {
    margin-bottom: 30px;
  }
  body .wrap-foot .foot-content .wrap-contact .col-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .wrap-foot .foot-content .wrap-contact .col-contact .wrap-phone-contact .wrap-ph_num .phone-number {
    font-size: 30px;
  }
  body .wrap-foot .foot-content .wrap-contact .col-contact .wrap-email-contact {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  body .wrap-info .info-content .title-info {
    font-size: 30px;
  }
  body .wrap-info .info-content .info-wrap {
    display: block;
  }
  body .wrap-info .info-content .info-wrap .info-column {
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 3px solid #ffffff;
  }
  body .wrap-info .info-content .info-wrap .info-column .info-icon {
    width: 60px;
  }
  body .wrap-info .info-content .info-wrap .info-column .dateTime .wrap-date .date-text {
    font-size: 25px;
    letter-spacing: 0;
  }
  body .content-block .content-wrap .title-content {
    width: 90%;
  }
}

@media only screen and (max-width: 700px) and (max-width: 450px) {
  body .content-block .content-wrap .separate-wrap .wrap-line {
    display: none;
  }
  body .content-block .content-wrap .content-text-wrap {
    text-align: center;
  }
  body .content-block .content-wrap .content-text-wrap .content-text {
    text-align: center;
  }
  body .wrap-foot .foot-content .wrap-contact .col-social .social-title {
    text-align: center;
  }
  body .wrap-foot .foot-content .wrap-contact .col-contact .wrap-phone-contact .wrap-ph_num .phone-number {
    font-size: 20px;
  }
}

@media only screen and (max-width: 700px) and (max-width: 370px) {
  body .wrap-foot .foot-content .wrap-contact .col-contact .wrap-phone-contact .wrap-ph_num .phone-number {
    font-size: 20px;
  }
}

@media only screen and (max-width: 700px) and (max-width: 320px) {
  body .wrap-info .info-content .title-info {
    font-size: 20px;
  }
  body .wrap-info .info-content .info-wrap {
    display: block;
  }
  body .wrap-info .info-content .info-wrap .info-column .info-icon {
    width: 50px;
  }
  body .wrap-info .info-content .info-wrap .info-column .dateTime .wrap-date .date-text {
    font-size: 20px;
  }
  body .wrap-foot .foot-content .wrap-contact .col-contact .wrap-phone-contact .wrap-ph_num .phone-number {
    font-size: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */