@import "font.scss";
@import "variables.scss";
@import "mixins.scss";
@import "media-style.scss";

//general styles
*{
    margin: 0;
    padding: 0;
    font-family: $content-font;
    text-decoration: none;
    user-select: none;
    outline: none;
    box-sizing: border-box;
}
a:active{
    outline:none;
}

/* path{ fill:inherit; stroke:inherit; } */
.content-position{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
///////////////////////////////////
//scroll style
::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
}
::-webkit-scrollbar-track {
    background-color:#ecedee;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background-color:#d7190f;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#d7190f;
}
::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
}
::-webkit-scrollbar{
    width: 4px;
}
//
///////////////////////////////////

//general style
body{
    header{
        .header-sup{
            background-color: $main-color;
            width: 100%;
            -webkit-box-shadow: 0px 10px 20px -3px rgba(0,0,0,0.72);
            -moz-box-shadow: 0px 10px 20px -3px rgba(0,0,0,0.72);
            box-shadow: 0px 10px 20px -3px rgba(0,0,0,0.72);
            .header__wrap-section{
                display: flex;
                justify-content: space-between;
                padding-top: 15px;
                padding-bottom: 15px;
                .header__wrap-section__logo{
                    text-align: center;
                    margin-left: 15px;
                    .first-logo{
                        width: 100%;
                    }
                }
                .btn-mobile{
                    display: none;
                    width: 25px;
                    margin: 0 auto;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                .header__wrap-section__navbar{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    list-style: none;
                    margin-right: 15px;
                    li{
                        margin-right: 25px;
                        cursor: pointer;
                        .nav-item{
                            text-decoration: none;
                            box-sizing: padding-box;
                            text-transform: uppercase;
                            font-family: $content-font-bold;
                            font-size: 16px;
                            font-weight: 300;
                            letter-spacing: 1px;
                            color: #ffffff;
                            padding-top: 5px;
                            padding-bottom: 5px;
                            transition-delay: .5s;
                            transition: .2s linear;
                            -webkit-transition: .2s linear;
                            -moz-transition: .2s linear;
                            -ms-transition: .2s linear;
                            -o-transition: .2s linear;
                            transition-duration: .1s;
                        }
                        .nav-item:hover{
                            border-bottom: 3px solid #ffffff;
                        }
                    }
                    li:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        .header-sub-bg{
            width: 100%;
            background-image: url(../assets/images/background-title.jpg);
            background-size: auto;
            background-position: center;
            /* height: 850px; */
            .header-sub{
                display: flex;
                flex-direction: column;
                align-items: center;
                .second-logo{
                    width: 65%;
                }
                .text-title{
                    width: 70%;
                }
            }
        }
    }
//////////////////////////////////////
    //announcement
    .wrap-info{
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        /* height: 100%; */
        background: url(../assets/images/background-info.png);
        background-size: auto 100% 100%;
        background-position: center;
        .info-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            .title-info{
                font-family: $content-font-bold;
                font-size: 40px;
                color: #ffffff;
                margin-bottom: 35px;
            }
            .info-wrap{
                display: flex;
                justify-content: space-around;
                flex-wrap: no-wrap;
                .info-column{
                    margin: 0 50px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 30px;
                    @keyframes location-icon-opacity {
                        0% {
                            opacity: 1;
                        }
                        /* 25% {
                            opacity: .5;
                        } */
                        50% {
                            opacity: .25;
                        }
                        /* 75% {
                            opacity: .5;
                        } */
                        100% {
                            opacity: 1;
                        }
                    }
                    .location-link{
                        animation: location-icon-opacity 1s ease-in-out infinite;
                        -webkit-animation: location-icon-opacity 1s ease-in-out infinite;
}
                    .info-icon{
                        width: 100px;
                    }
                    .date-text{
                        color: #ffffff;
                        font-size: 35px;
                        letter-spacing: 2px;
                        font-family: Intro;
                    }
                    .time-text{
                        color: #ffffff;
                        font-size: 30px;
                        font-family: $content-font-bold;
                    }
                    .dateTime{
                        display: flex;
                        flex-direction: column;
                        .wrap-date{
                            display: flex;
                            align-items: center;
                        }
                        .wrap-time{
                            display: flex;
                            align-items: center;
                        }
                    }
                    .info-descript{
                        .location-city{
                            font-size: 30px;
                            color: #ffffff;
                            margin-bottom: 15px;
                            font-family: $content-font-bold;
                        }
                        .location-logo{
                            margin-bottom: 15px;
                            width: 100%;
                        }
                        .location-street{
                            font-size: 15px;
                            color: #ffffff;
                            font-family: $content-font-bold;
                        }
                        .loc{
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
//////////////////////////////////////
    //content block
    .content-block{
        padding-top: 30px;
        padding-bottom: 70px;
        width: 100%;
        height: 100%;
        background: url(../assets/images/background-content.jpg);
        background-size: cover;
        background-position: center bottom;
        -webkit-box-shadow: inset 0px 28px 37px -13px rgba(0,0,0,0.49);
        -moz-box-shadow: inset 0px 28px 37px -13px rgba(0,0,0,0.49);
        box-shadow: inset 0px 28px 37px -13px rgba(0,0,0,0.49);
        .content-wrap{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .title-content{
                width: 90%;
            }
            .separate-wrap{
                display: flex;
                width: 100%;
                align-items: center;
                .separate-icon{
                    margin: 0 auto;
                }
                .wrap-line{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .sup-line{
                        border: 5px solid #dee2e5;
                        margin-bottom: 10px;
                        margin-top: 10px;
                        width: 90%;
                        box-shadow: 1px 1px 7px black ;
                    }
                    .sub-line{
                        border: 2px solid #dee2e5;
                        width: 90%;
                        box-shadow: 1px 1px 7px black ;
                    }
                }
            }
            .content-text-wrap{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
                font-weight: 600;
                .content-text{
                    font-family: $content-font;
                    color: #dee2e5;
                    font-size: 27px;
                    text-indent: 50px;
                    text-shadow: 0px 0px 10px black;
                }
                .content-ps1{
                    margin-top: 20px;
                    font-size: 35px;
                    font-family: $content-font;
                    color: #dee2e5;
                    text-shadow: 0px 0px 10px black;
                }
                .content-ps2{
                    font-size: 35px;
                    font-family: $content-font;
                    color: #dee2e5;
                    text-shadow: 0px 0px 10px black;
                }
            }
            .wrap{
                padding: 20px;
                .wrap-block{
                    padding: 20px;
                    background: url(../assets/images/background-block.png);
                    background-size: auto;
                    background-position: center bottom;
                    @include wrap-block;
                    .block-title{
                        color: #fff;
                        font-size: 40px;
                        font-weight: 700;
                        margin-bottom: 20px;
                        letter-spacing: 1px;
                    }
                    .wrap-content{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        /* width: 100%; */
                        .block-descript{
                            @include content-text-style;
                        }
                        .btn{
                            @include btn-style;
                        }
                        .btn:hover{
                            @include btn-style-hover;
                        }
                    }
                    .wrap-content-img{
                        margin-left: 30px;
                        margin-right: 30px;
                        /* width: 300px; */
                        height: 300px;
                    }
                }
                .wrap-block:nth-child(2n){
                    background-position: center top;
                    flex-direction: row-reverse;
                }
            }
        }
    }
//////////////////////////////////////
    //contact block
    .wrapper{
        /* background: #0933b1; */
        background-image: url(../assets/images/background-page-contact.jpg);
        background-size: auto;
        background-position: center;
        .contact-wrap{
            .contact-block{
                width: 100%;
                background-color: #ffffff;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                }
            .form-block{
                a {
                    font-family: Montserrat-Regular;
                    font-size: 14px;
                    line-height: 1.7;
                    color: #666666;
                    margin: 0px;
                    transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                  -o-transition: all 0.4s;
                  -moz-transition: all 0.4s;
                }
                
                a:focus {
                    outline: none !important;
                }
                
                a:hover {
                    text-decoration: none;
                    color: #57b846;
                }
                
                /*---------------------------------------------*/
                input {
                    outline: none;
                    border: none;
                }
                
                textarea {
                  outline: none;
                  border: none;
                }
                
                textarea:focus, input:focus {
                  border-color: transparent !important;
                }
                
                input::-webkit-input-placeholder { color: #999999; }
                input:-moz-placeholder { color: #999999; }
                input::-moz-placeholder { color: #999999; }
                input:-ms-input-placeholder { color: #999999; }
                
                textarea::-webkit-input-placeholder { color: #999999; }
                textarea:-moz-placeholder { color: #999999; }
                textarea::-moz-placeholder { color: #999999; }
                textarea:-ms-input-placeholder { color: #999999; }
                
                /*---------------------------------------------*/
                button {
                    outline: none !important;
                    border: none;
                    background: transparent;
                }
                
                button:hover {
                    cursor: pointer;
                }
                
                iframe {
                    border: none !important;
                }
                
                
                
                
                /*//////////////////////////////////////////////////////////////////
                [ Contact 1 ]*/
                
                .contact1 {
                  width: 100%;
                  min-height: 100%;
                  padding: 15px;
                
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -moz-box;
                  display: -ms-flexbox;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  align-items: center;
                }
                
                .container-contact1 {
                  width: 1163px;
                  background: #fff;
                  opacity: .7;
                  border-radius: 10px;
                  overflow: hidden;
                
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -moz-box;
                  display: -ms-flexbox;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  align-items: center;
                
                  padding: 90px 130px 88px 148px;
                }
                .container-contact1:hover{
                    opacity: 1;
                  }
                
                /*------------------------------------------------------------------
                [  ]*/
                .contact1-pic {
                  width: 296px;
                }
                
                .contact1-pic img {
                  max-width: 100%;
                }
                
                
                /*------------------------------------------------------------------
                [  ]*/
                .contact1-form {
                  width: 390px;
                }
                
                .contact1-form-title {
                  display: block;
                  font-family: $font-montsserat;
                  font-size: 28px;
                  font-weight: 700;
                  text-transform: uppercase;
                  color: #333333;
                  line-height: 1.2;
                  text-align: center;
                  padding-bottom: 44px;
                }
                
                input.input1 {
                  height: 50px;
                  border-radius: 25px;
                  padding: 0 30px;
                }
                input.input1 + .shadow-input1 {
                  border-radius: 25px;
                }
                
                textarea.input1 {
                  min-height: 150px;
                  border-radius: 25px;
                  padding: 12px 30px;
                }
                textarea.input1 + .shadow-input1 {
                  border-radius: 25px;
                }
                
                /*---------------------------------------------*/
                .wrap-input1 {
                  position: relative;
                  width: 100%;
                  z-index: 1;
                  margin-bottom: 20px;
                }
                
                .input1 {
                  display: block;
                  width: 100%;
                  background: #e6e6e6;
                  font-family: $font-montsserat;
                  font-size: 15px;
                  line-height: 1.5;
                  color: #666666;
                }
                
                .shadow-input1 {
                  content: '';
                  display: block;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  z-index: -1;
                  width: 100%;
                  height: 100%;
                  box-shadow: 0px 0px 0px 0px;
                  color: rgba(87,184,70, 0.5);
                }
                
                .input1:focus + .shadow-input1 {
                  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
                  animation: anim-shadow 0.5s ease-in-out forwards;
                }
                
                @-webkit-keyframes anim-shadow {
                  to {
                    box-shadow: 0px 0px 80px 30px;
                    opacity: 0;
                  }
                }
                
                @keyframes anim-shadow {
                  to {
                    box-shadow: 0px 0px 80px 30px;
                    opacity: 0;
                  }
                }
                
                /*---------------------------------------------*/
                .container-contact1-form-btn {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -moz-box;
                  display: -ms-flexbox;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                }
                .form-button{
                    @include btn-style;
                    font-family: $font-montsserat;
                }
                .form-button:hover{
                    @include btn-style-hover;
                }
                
                
                
                
                /*------------------------------------------------------------------
                [ Responsive ]*/
                
                @media (max-width: 1200px) {
                  .contact1-pic {
                    width: 33.5%;
                  }
                
                  .contact1-form {
                    width: 44%;
                  }
                }
                
                @media (max-width: 992px) {
                  .container-contact1 {
                    padding: 90px 80px 88px 90px;
                  }
                
                  .contact1-pic {
                    width: 35%;
                  }
                
                  .contact1-form {
                    width: 55%;
                  }
                }
                
                @media (max-width: 768px) {
                  .container-contact1 {
                    padding: 90px 80px 88px 80px;
                  }
                
                  .contact1-pic {
                    display: none;
                  }
                
                  .contact1-form {
                    width: 100%;
                  }
                }
                
                @media (max-width: 576px) {
                  .container-contact1 {
                    padding: 90px 15px 88px 15px;
                  }
                }
                
                
                /*------------------------------------------------------------------
                [ Alert validate ]*/
                
                .validate-input {
                  position: relative;
                }
                
                .alert-validate::before {
                  content: attr(data-validate);
                  position: absolute;
                  max-width: 70%;
                  background-color: white;
                  border: 1px solid #c80000;
                  border-radius: 13px;
                  padding: 4px 25px 4px 10px;
                  top: 50%;
                  -webkit-transform: translateY(-50%);
                  -moz-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                  -o-transform: translateY(-50%);
                  transform: translateY(-50%);
                  right: 8px;
                  pointer-events: none;
                
                  font-family: $font-montsserat;
                  color: #c80000;
                  font-size: 13px;
                  line-height: 1.4;
                  text-align: left;
                
                  visibility: hidden;
                  opacity: 0;
                
                  -webkit-transition: opacity 0.4s;
                  -o-transition: opacity 0.4s;
                  -moz-transition: opacity 0.4s;
                  transition: opacity 0.4s;
                }
                
                .alert-validate::after {
                  content: "\f06a";
                  font-family: FontAwesome;
                  display: block;
                  position: absolute;
                  color: #c80000;
                  font-size: 15px;
                  top: 50%;
                  -webkit-transform: translateY(-50%);
                  -moz-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                  -o-transform: translateY(-50%);
                  transform: translateY(-50%);
                  right: 13px;
                }
                
                .alert-validate:hover:before {
                  visibility: visible;
                  opacity: 1;
                }
                
                @media (max-width: 992px) {
                  .alert-validate::before {
                    visibility: visible;
                    opacity: 1;
                  }
                }
            }
        }
    }
//////////////////////////////////////
    //footer
    .wrap-foot{
        background-color: $main-color;
        .foot-content{
            padding: 50px;
            padding-bottom: 15px;
            .reserved{
                color: #fff;
                font-family: $font-montsserat;
                font-weight: 500;
                text-align: center;
            }
            .wrap-contact{
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 55px;
                .col-social{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .social-title{
                        color: #fff;
                        font-family: $font-montsserat;
                        font-weight: 700;
                        font-size: 30px;
                        letter-spacing: 2px;
                        margin-bottom: 15px;
                        text-align: center;
                    }
                    .wrap-icon-link{
                        .icon{
                            @include icon-style;
                            width: 50px;
                            margin: 0 15px;
                        }
                        .icon:hover{
                            @include icon-style-hover;
                        }
                    }
                }
                .col-contact{
                    /* width: 100%; */
                    .wrap-phone-contact{
                        display: flex;
                        align-items: center;
                        margin-bottom: 25px;
                        .icon{
                            @include icon-style;
                            width: 30px;
                            margin-right: 20px;
                        }
                        .icon:hover{
                            @include icon-style-hover;
                        }
                        .wrap-ph_num{
                            .phone-number{
                                font-family: $font-montsserat;
                                font-weight: 700;
                                color: #fff;
                                letter-spacing: 1px;
                            }
                        }
                    }
                    .wrap-email-contact{
                        display: flex;
                        align-items: left;
                        justify-content: space-between;
                        .icon{
                            @include icon-style;
                            width: 30px;
                            margin-right: 20px;
                        }
                        .icon:hover{
                            @include icon-style-hover;
                        }
                        .email{
                            font-family: $font-montsserat;
                            font-weight: 700;
                            color: #fff;
                            text-transform: uppercase;
                            font-size: 20px;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
}
@import "media-style.scss";


